<ol class = "ol">
  <% @movie_search.movies.each do |movie| %>
  <li>
    <a href="<%= movie.url_for_query @movie_search.query %>">
    <%= movie.title %>
    </a>
    (<%= movie.year %>)
  </li>                                                         
  <% end %>
</ol>